/* ikiwiki local style sheet */

/* Add local styling here, instead of modifying style.css or xorg.css */
div#google_translate_element {
  position:absolute;
  top: 110px;
  left: 50%;
  margin-left: -80px;
}
